.about-company {
  display: flex;
  width: 100%;
}

.about-company__wrapper {
  width: 80%;
  max-width: 1240px;
  display: flex;
  margin: 117px auto 100px;

  @include vp-1023 {
    width: 88%;
    margin: 75px auto 78px;
  }

  @include vp-767 {
    width: 85%;
    min-width: 270px;
    margin-top: 20px;
    margin-bottom: 80px;
  }
}

.about-company__img {
  display: flex;
  width: 150px;
  align-items: flex-start;
  margin-right: 103px;
  margin-left: 10px;

  @include vp-1023 {
    margin-right: 29px;
    margin-left: 0;
    margin-top: 7px;
  }

  @include vp-767 {
    display: none;
  }
}

.about-company__img img {
  width: 150px;
  height: 320px;
}

.about-company__info {
  width: 80%;
  display: flex;
  flex-direction: column;

  @include vp-1023 {
    width: 73%;
  }

  @include vp-767 {
    width: 100%;
  }
}

.about-company__info h2 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-black-pearl;
  margin-top: 3px;
  margin-bottom: 12px;

  @include vp-1023 {
    margin-bottom: 13px;
  }

  @include vp-767 {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 11px;
    margin-top: 0;
  }
}

.about-company__info p {
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-black-pearl;
  margin-top: 0;
  margin-bottom: 20px;

  @include vp-1023 {
    // letter-spacing: 0.03em;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 18px;
  }
}

.about-company__info p:nth-child(3) {
  margin-bottom: 0;
}

.about-company p br {
  @include vp-767 {
    display: none;
  }
}

.about-company__mob-hidden {
  @include vp-767 {
    display: none;
  }
}

.about-company__mob-shown {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.about-company__button {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: $color-deep-sky-blue;
  background-color: unset;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 1px solid $color-deep-sky-blue;
  box-sizing: border-box;
  border-radius: 3px;
  width: 180px;
  height: 45px;
  cursor: pointer;
  margin-top: 18px;

  &:hover,
  &:active,
  &:focus-visible {
    background-color: $color-deep-sky-blue;
    color: $color-alice-blue;
  }

  @include vp-1023 {
    margin-top: -5px;
  }

  @include vp-767 {
    width: 160px;
    height: 35px;
    margin-top: 13px;
  }
}

.about-company__tablet {
  display: none;

  @include vp-1023 {
    display: block;
  }
}

.about-company__hidden {
  @include vp-1023 {
    margin-bottom: 20px;
  }
}
