.contact-us {
  display: flex;
  width: 100%;
  background-color: $color-deep-sky-blue;
  background-image: url("../img/sprite/form_background.svg");
  background-position-y: -580px;

  @include vp-1023 {
    background-image: none;
    background-position-y: unset;
  }
}

.contact-us__wrapper {
  display: flex;
  width: 80%;
  max-width: 1230px;
  margin: 165px auto 250px;
  padding-left: 10px;

  @include vp-1023 {
    width: 87%;
    margin-top: 45px;
    margin-bottom: 102px;
    padding-left: 0;
  }

  @include vp-767 {
    width: 84%;
    min-width: 270px;
    margin-bottom: 53px;
  }
}

.contact-us__decoration {
  width: 42%;

  @include vp-1023 {
    display: none;
  }
}

.contact-us__decoration img {
  margin-top: 80px;
}

.contact-us__form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 48%;

  @include vp-1023 {
    margin-left: 0;
    width: 100%;
  }
}

.contact-us__form h3 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 51px;
  color: $color-default-white;
  margin-top: 0;
  margin-bottom: 10px;

  @include vp-1023 {
    margin-bottom: 8px;
  }

  @include vp-767 {
    font-size: 30px;
    line-height: 42px;
    letter-spacing: -0.05em;
    margin-bottom: 10px;
    // padding-left: 7px;
  }
}

.contact-us__form br {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.contact-us__form p {
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  margin-top: 0;
  margin-bottom: 32px;

  @include vp-1023 {
    margin-bottom: 24px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 32px;
    // padding-left: 7px;
    width: 85%;
  }
}
