.form {
  display: flex;
  flex-direction: column;
  width: 99%;

  @include vp-1023 {
    width: 100%;
  }
}

.form fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;

  @include vp-767 {
    margin-bottom: 0;
  }
}

.form__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

  @include vp-1023 {
    width: 100%;
  }

  @include vp-767 {
    flex-direction: column;
  }
}

.form__list--modal {
  flex-direction: column;
}

.form__item {
  width: 47%;

  @include vp-1023 {
    width: 48%;
  }

  @include vp-767 {
    max-width: unset;
    width: 100%;
    margin-bottom: 21px;
  }
}

.form__item:nth-child(2n) {
  margin-left: 30px;

  @include vp-767 {
    margin-left: 0;
  }
}

.form__list--modal .form__item {
  width: 100%;
  margin-bottom: 20px;
  margin-left: 0;
}

.form input,
.form textarea {
  background-color: rgba(4, 20, 39, 0.15);
  color: rgba(255, 255, 255, 1);
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  border: none;
  border-radius: 3px;
  padding: 15px;

  &:focus {
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  }

  @include vp-1023 {
    padding-left: 14px;
    padding-top: 12px;
  }

  @include vp-767 {
    width: 100%;
  }
}

.form input {
  width: 100%;
  color: $color-black-pearl;
}

.form textarea {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 87px;
  color: $color-black-pearl;

  @include vp-1023 {
    padding-top: 32px;
    padding-bottom: 80px;
  }

  @include vp-767 {
    padding-top: 25px;
    padding-bottom: 112px;
  }
}

.form input::placeholder,
.form textarea::placeholder {
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  opacity: 1;
}

.form__send {
  display: flex;
  width: 100%;
  margin-top: 10px;

  @include vp-767 {
    flex-direction: column;
    margin-top: 25px;
  }
}

.form__send fieldset {
  margin-left: auto;
  margin-right: 8px;
  margin-top: 12px;
  margin-bottom: 0;
  width: 45%;
  align-self: center;

  @include vp-1023 {
    width: 47%;
    margin-right: 5px;
  }

  @include vp-767 {
    width: 100%;
    margin-top: 22px;
    margin-left: 0;
    margin-right: 0;
  }
}

// .form__agreement label {
//   position: relative;
//   width: 100%;
//   display: flex;
// }

.form__agreement input {
  width: 0;
}

.form__agreement label {
  position: relative;
  display: flex;
  font-family: "PT Mono", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  // margin-left: 25px;
  margin-right: 25px;
  padding-left: 25px;
  margin-bottom: 0;
  opacity: 0.8;

  @include vp-767 {
    margin-left: 30px;
  }
}

.form__agreement br {
  display: block;
}

.form button {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
  background-color: $color-black-pearl-button;
  border: none;
  border-radius: 3px;
  width: 45%;
  height: 45px;
  cursor: pointer;

  &:hover,
  &:focus-visible,
  &:active {
    opacity: 0.8;
    color: $color-deep-sky-blue;
  }

  @include vp-1023 {
    width: 40%;
    letter-spacing: -0.05em;
  }

  @include vp-767 {
    width: 100%;
  }
}

.form .send-button--modal {
  width: 100%;
  margin-bottom: 20px;

  &:hover,
  &:focus-visible,
  &:active {
    opacity: 0.8;
    color: $color-deep-sky-blue;
  }
}
