.social-list__item {
  cursor: pointer;
  margin-right: 15px;

  &:hover,
  &:active,
  &:focus-within {
    opacity: 0.7;
  }

  @include vp-767 {
    // margin-right: 12px;
  }
}

.social-list__item:nth-child(3n) {
  margin-right: 25px;

  @include vp-767 {
    margin-right: 0;
  }
}

.social-list__item a {
  display: flex;
}
